BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AlignEscapedNewlines: Left
AlignAfterOpenBracket: AlwaysBreak
#
# Bind * to the type rather than the name.
PointerAlignment: Left
#
# Put function name on separate line from return type.
AlwaysBreakAfterReturnType: All
#
# Put arguments either all on same line or on separate lines.
BinPackArguments: false
#
# Put function parameters on separate lines.
BinPackParameters: false
#
# Open brace goes on new line only when starting a new struct, enum, or func.
BreakBeforeBraces: Mozilla
#
# Special include file sort ordering rules.
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<[Ww]insock2.h>'
    Priority: 1
  - Regex: '^<ws2def.h>'
  - Regex: '^<ws2ipdef.h>'
    Priority: 2
  - Regex: '^<in6addr.h>'
    Priority: 3
  - Regex: '^<[Ww]indows.h>'
    Priority: 3
  - Regex: '^<ElfWrapper.h>'
    Priority: 3
  - Regex: '^<ntifs.h>'
    Priority: 3
  - Regex: '^<'
    Priority: 4
# winsock2.h -> in6addr.h
# winsock2.h -> windows.h
# windows.h -> ElfWrapper.h
# windows.h -> netsh.h
# ws2def.h ws2ipdef.h -> iphlpapi.h
# ntifs.h -> ntddk.h
