
# Most of the below is the result of Visual Studio, gradle and VSTest.
/**/[Tt]arget/**
/**/[Bb]in/**
/**/[Oo]bj/**
/**/[Oo]utput/**
/**/[Tt]est[Rr]esults/**
/**/[Pp]kg/**
/**/[Pp]ackages/**
/**/[Bb]uild/**
/**/.[Gg]radle/**
/**/[Rr]elease/**
/**/[Dd]ebug/**
/**/FuzzerDebug/**
/**/NativeOnlyDebug/**
/**/NativeOnlyRelease/**
/**/[Tt]arget/**

# All kinds of output and temporary files that should not be checked in.
/**/*.exe
/**/*.dll
/**/*.o
/**/*.hi
/**/*.class
/**/*.jar
/**/*.war
/**/*.beam
/**/*.trx
/**/*.log
/**/*.tlog
/**/.vs/
/**/*.bak
/**/*.suo
/**/*.user
/**/*.db
/**/*.metaproj
/**/*.metaproj.tmp
/**/*.lock.json
/**/*.nupkg
/**/*_args.h
/**/*_h.h
/**/*_t.h
/**/*_u.h
/**/*_t.c
/**/*_u.c
/**/*_c.c
/**/*_s.c
/**/HelloWorld
docs/html

# Generated version files.
.version/**/*
/**/*/PipelineAssemblyInfo.cs
include/git_commit_id.h

# Visual Studio junk.
**/.vs/**/*
/**/*/__pycache__/**/*

# Pipeline generated junk.
pipeline.log
endortemp/
artifacts/

# Visual Code.
**/.vscode/**/*
