# Files identified as text should be checked in with LFs, and checked
# out with the platform-specific EOL markers.
#
# Essentially runs `git config core.autocrlf true` for every clone.
* text=auto

# Bash shell scripts should always have LFs.
*.sh                text eol=lf
/scripts/**         text eol=lf

# Windows build files should always have CRLFs.
*.sln               text eol=crlf
*.vcxproj           text eol=crlf
*.vcxproj.filters   text eol=crlf
*.o                 -text

# Mark generated corpus files as binary.
**/corpus/**        -text

# Ensure that all compilable files are checked out as UTF-8
*.c* text encoding=utf-8
*.h* text encoding=utf-8
