<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) eBPF for Windows contributors
  SPDX-License-Identifier: MIT
-->
<configuration>
  <packageSources>
    <clear />
    <add key="first_party_bpf_programs" value="https://pkgs.dev.azure.com/microsoft/undock/_packaging/first_party_bpf_programs/nuget/v3/index.json" />
  </packageSources>
</configuration>
