<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear />
    <add key="CoreXT" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/CoreXTMirror/nuget/index.json" />
    <add key="Toolset" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/Toolset/nuget/index.json" />
    <add key="NugetOrg" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/NugetMirror/nuget/index.json" />
    <add key="MSNuget" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/MSNugetMirror/nuget/index.json" />
    <add key="OSS" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/OSS/nuget/index.json" />
    <add key="Official" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/Official/nuget/index.json" />
    <add key="Manual" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/ManualMirror/nuget/index.json" />
    <add key="NugetOrg" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/NugetMirror/nuget/index.json" />
  </packageSources>
</configuration>
