# Copyright (c) eBPF for Windows contributors
# SPDX-License-Identifier: MIT

# This is a workflow which runs the performance tests with profiling enabled.
---
name: Performance Tests on netperf

on:
  # Permit manual runs of the workflow.
  workflow_call:
    inputs:
      sha:
        description: 'SHA of the commit'
        required: true
        type: string
      ref:
        description: 'Ref of the commit'
        required: true
        type: string
      pull_request:
        description: 'Pull request number'
        required: true
        type: string
    secrets:
      NET_PERF_TRIGGER:
        description: 'Token to trigger the NetPerf workflow'
        required: true

permissions:
  contents: read
  issues: write  # Required to create issues.

jobs:
  netperf:
    runs-on: windows-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76  # v2.14.0
        with:
          egress-policy: audit

      - name: Run NetPerf Workflow
        shell: pwsh
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          $url = "https://raw.githubusercontent.com/microsoft/netperf/main/run-workflow.ps1"
          if ('${{ secrets.NET_PERF_TRIGGER }}' -eq '') {
              Write-Host "Not able to run because no secrets are available!"
              return
          }
          $run_id = iex "& { $(irm $url) } ${{ secrets.NET_PERF_TRIGGER }} ebpf ${{ inputs.sha }} ${{ inputs.ref }} ${{ inputs.pull_request.number }}"
          echo "NetPerf run id: $run_id"
          gh run download $run_id --dir netperf --pattern ebpf* --repo microsoft/netperf

      - name: upload_results_azure_2022_x64
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: Test-Logs-netperf_azure_2022_x64
          path: netperf/ebpf_azure_2022_x64/ebpf.csv

      - name: upload_results_lab_2022_x64
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: Test-Logs-netperf_lab_2022_x64
          path: netperf/ebpf_lab_2022_x64/ebpf.csv

  create_or_update_issue:
    needs: netperf
    if: ${{ failure() }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76  # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443

      - id: skip_check
        uses: fkirc/skip-duplicate-actions@f75f66ce1886f00957d99748a42c724f4330bdcf  # v5.3.1
        with:
          cancel_others: 'false'
          paths_ignore: '["**.md", "**/docs/**"]'

      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd  # v7.1.0
        if: steps.skip_check.outputs.should_skip != 'true'
        env:
          TITLE: Workflow failed - netperf
          BODY: |
            [Failed Run](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})
            [Codebase](https://github.com/${{ github.repository }}/tree/${{ github.sha }})
            Test name - `netperf`
          LABELS: bug,ci/cd

        with:
          script: |
            const owner = process.env.GITHUB_REPOSITORY.split('/')[0]
            const repo = process.env.GITHUB_REPOSITORY.split('/')[1]
            const body = process.env.BODY;
            const title = process.env.TITLE;
            const labels = process.env.LABELS;
            const label_array = labels ? labels.split(',') : [];
            console.log(label_array);
            // Get all issues that have these labels.
            const opts = github.rest.issues.listForRepo.endpoint.merge({
              ...context.issue,
              state: 'open',
              labels: label_array,
            });
            const issues = await github.paginate(opts);
            // Look for an existing issue with the same title.
            for (const issue of issues) {
              if (issue.title === title) {
                console.log(`Updating issue ${title}`);
                await github.rest.issues.createComment({
                  issue_number: issue.number,
                  owner,
                  repo,
                  body,
                });
                return;
              }
            }
            // Existing issue not found, create a new one.
            console.log(`Creating issue ${title}`);
            await github.rest.issues.create({
              owner: owner,
              repo: repo,
              title: title,
              body: body,
              labels: label_array,
            });
