# Copyright (c) eBPF for Windows contributors
# SPDX-License-Identifier: MIT

# This workflow updates NuGet packages and creates a pull request with the changes.
---
name: nuget_update

on:
  # Allow this workflow to be manually triggered.
  workflow_dispatch:

  # Run this once a week on saturday at 9pm UTC.
  schedule:
    - cron: '0 21 * * 6'

permissions:
  contents: read

jobs:
  update:
    permissions:
      contents: write  # for Git to git push
      pull-requests: write  # for PR creation

    env:
      # Path to the solution file relative to the root of the project.
      SOLUTION_FILE_PATH: ebpf-for-windows.sln
      BUILD_ARTIFACT_NAME: Build-x64
      BUILD_CONFIGURATION: Release
      BUILD_PLATFORM: x64

    runs-on: windows-2022

    steps:
      # Check out the main repo.
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911  # v2.13.0
        with:
          egress-policy: audit

      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493
        with:
          # Only check out main repo, not submodules.
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Cache nuget packages
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809
        env:
          cache-name: cache-nuget-modules
        with:
          path: packages
          key: ${{ runner.os }}-${{env.BUILD_PLATFORM}}-${{env.BUILD_CONFIGURATION}}-${{env.BUILD_ARTIFACT_NAME}}-${{ hashFiles('**/packages.config') }}

      - name: Restore NuGet packages
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: nuget restore -noninteractive -verbosity detailed ${{env.SOLUTION_FILE_PATH}}

      # Update nuget packages used by the solution.
      - name: Update NuGet packages
        run: |
          nuget update -noninteractive -verbosity detailed ${{env.SOLUTION_FILE_PATH}}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update NuGet packages
          title: Update NuGet packages
          body: |
            This is an automated pull request by the GitHub Action 'nuget_update'.
            Please review the changes and merge if appropriate.
          labels: |
            automated pr
            nuget update
          branch: nuget_update_${{ hashFiles('**/packages.config') }}
          base: ${{ github.event.workflow_run.head_branch }}
