# Copyright (c) eBPF for Windows contributors
# SPDX-License-Identifier: MIT

# This is a workflow which runs the performance tests with profiling enabled.

name: Perf Profile

on:
  # Permit manual runs of the workflow.
  workflow_dispatch:

concurrency:
  # Cancel any CI/CD workflow currently in progress for the same PR.
  # Allow running concurrently with any other commits.
  group: perf-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  checks: read  # Required by reusable-test.yml to check build status.
  security-events: write # Required by codeql task.
  issues: write # Required to create issues.

jobs:
  # Perform the Release build.
  regular:
    # Always run this job.
    if: github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/reusable-build.yml
    with:
      ref: ${{ github.ref }}
      repository: ${{ github.repository }}
      build_artifact: Build-x64
      build_options: /p:ReleaseJIT='False'
      configurations: '["Release"]'

  performance_with_profile:
    needs: regular
    if: github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/reusable-test.yml
    with:
      name: km_performance
      pre_test: .\setup_ebpf_cicd_tests.ps1 -KmTracing $true -KmTraceType "file"
      test_command: .\execute_ebpf_cicd_tests.ps1 -TestMode "Performance" -Options @("CaptureProfile")
      post_test: .\cleanup_ebpf_cicd_tests.ps1 -KmTracing $true
      build_artifact: Build-x64
      configurations: '["Release"]'
      environment: ebpf_cicd_perf_ws2022
