# Copyright (c) eBPF for Windows contributors
# SPDX-License-Identifier: MIT

name: Scorecards

on:
  push:
    branches: [ main, 'gh-readonly-queue/main/**' ]
  pull_request:
    branches: [ main, 'gh-readonly-queue/main/**' ]
  merge_group:
    branches: [ main, 'gh-readonly-queue/main/**' ]

concurrency:
  # Cancel any Scorecards workflow currently in progress for the same PR.
  # Allow running concurrently with any other commits.
  group: scorecards-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

# Declare default permissions as read only.
permissions: read-all

jobs:
  analysis:
    name: Scorecards analysis
    runs-on: ubuntu-latest
    permissions:
      # Needed to upload the results to code-scanning dashboard.
      security-events: write
      id-token: write
      actions: read
      contents: read

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            api.osv.dev:443
            www.bestpractices.dev:443
            github.com:443
            api.deps.dev:443

      - name: "Checkout code"
        if: github.ref_name == 'main'
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false

      - name: "Run analysis"
        if: github.ref_name == 'main'
        uses: ossf/scorecard-action@f49aabe0b5af0936a0987cfb85d86b75731b0186 # v2.4.1
        with:
          results_file: results.sarif
          results_format: sarif
          # Read-only PAT token. To create it,
          # follow the steps in https://github.com/ossf/scorecard-action#pat-token-creation.
          repo_token: ${{ secrets.SCORECARD_READ_TOKEN }}
          # Publish the results to enable scorecard badges. For more details, see
          # https://github.com/ossf/scorecard-action#publishing-results.
          # For private repositories, `publish_results` will automatically be set to `false`,
          # regardless of the value entered here.
          publish_results: ${{ github.event_name != 'pull_request' && github.event_name != 'merge_group'}}

      # Upload the results as artifacts (optional).
      - name: "Upload artifact"
        if: github.ref_name == 'main'
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1
        with:
          name: SARIF file
          path: results.sarif
          retention-days: 10

      # Upload the results to GitHub's code scanning dashboard.
      - name: "Upload to code-scanning"
        if: github.ref_name == 'main'
        uses: github/codeql-action/upload-sarif@6bb031afdd8eb862ea3fc1848194185e076637e5
        with:
          sarif_file: results.sarif
