# Copyright (c) eBPF for Windows contributors
# SPDX-License-Identifier: MIT

name: Scorecards

on:
  push:
    branches: [ main, 'gh-readonly-queue/main/**' ]
  pull_request:
    branches: [ main, 'gh-readonly-queue/main/**' ]
  merge_group:
    branches: [ main, 'gh-readonly-queue/main/**' ]

concurrency:
  # Cancel any Scorecards workflow currently in progress for the same PR.
  # Allow running concurrently with any other commits.
  group: scorecards-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

# Declare default permissions as read only.
permissions: read-all

jobs:
  analysis:
    name: Scorecards analysis
    runs-on: ubuntu-latest
    permissions:
      # Needed to upload the results to code-scanning dashboard.
      security-events: write
      id-token: write
      actions: read
      contents: read

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            api.osv.dev:443
            www.bestpractices.dev:443
            github.com:443

      - name: "Checkout code"
        if: github.ref_name == 'main'
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
          persist-credentials: false

      - name: "Run analysis"
        if: github.ref_name == 'main'
        uses: ossf/scorecard-action@62b2cac7ed8198b15735ed49ab1e5cf35480ba46 # v2.4.0
        with:
          results_file: results.sarif
          results_format: sarif
          # Read-only PAT token. To create it,
          # follow the steps in https://github.com/ossf/scorecard-action#pat-token-creation.
          repo_token: ${{ secrets.SCORECARD_READ_TOKEN }}
          # Publish the results to enable scorecard badges. For more details, see
          # https://github.com/ossf/scorecard-action#publishing-results.
          # For private repositories, `publish_results` will automatically be set to `false`,
          # regardless of the value entered here.
          publish_results: ${{ github.event_name != 'pull_request' && github.event_name != 'merge_group'}}

      # Upload the results as artifacts (optional).
      - name: "Upload artifact"
        if: github.ref_name == 'main'
        uses: actions/upload-artifact@50769540e7f4bd5e21e526ee35c689e35e0d6874
        with:
          name: SARIF file
          path: results.sarif
          retention-days: 5

      # Upload the results to GitHub's code scanning dashboard.
      - name: "Upload to code-scanning"
        if: github.ref_name == 'main'
        uses: github/codeql-action/upload-sarif@8214744c546c1e5c8f03dde8fab3a7353211988d
        with:
          sarif_file: results.sarif
