# Copyright (c) Microsoft Corporation
# SPDX-License-Identifier: MIT

# This action will run doxygen to update the documentation at https://microsoft.github.io/ebpf-for-windows/
# which is a view of the gh-pages branch.  This action is done whenever the main branch is updated.
# For docs on gh-pages see https://pages.github.com/
#
# The following two links discuss steps similar to this action so may be useful reading
# to understand how the automatic update works:
#  https://growworkinghard.altervista.org/doxygen-documentation-on-github-using-gh-pages/
#  https://github.com/m-a-d-n-e-s-s/madness/issues/104

name: Doxygen Action

# Controls when the action will run. Triggers the workflow on push # events
# but only for the main branch
on:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write  # for Git to git push
    runs-on: ubuntu-latest

    steps:

    - name: Harden Runner
      uses: step-security/harden-runner@03bee3930647ebbf994244c21ddbc0d4933aab4f
      with:
        egress-policy: block
        allowed-endpoints: >
          azure.archive.ubuntu.com:80
          github.com:443

    - name: Install doxygen
      run: |
        sudo apt install doxygen

    - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

    - name: Clone docs
      run: |
        git config --global user.email 'ebpf-for-windows@users.noreply.github.com'
        git config --global user.name 'Github Action'
        git clone --branch gh-pages https://github.com/microsoft/ebpf-for-windows.git docs/html

    - name: Update docs
      run: |
        doxygen
        cd docs/html
        git add .
        if [ -n "$(git status --porcelain)" ]; then
        git commit -s -m "Updated documentation"
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/microsoft/ebpf-for-windows.git
        git push
        fi
